<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Spot Exchange Login</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="cancel()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list>


    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="payload.username" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="payload.password"  type="password" value=""></ion-input>
    </ion-item>


  </ion-list>
  <div padding style="text-align:center;">
    <h6><span style="color:red;" *ngIf="error">{{errorm}}</span></h6>
  </div>
  <div padding>
    <button ion-button full color="sidemenu" (click)="login()">Login <ion-spinner name="bubbles" *ngIf="showSpinner"></ion-spinner></button>
  </div>

</ion-content>
