
<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons right>
  <button ion-button icon-only (click)="location()" [(disabled)]="isRunningGEO">
     <ion-icon name="location" color="white"></ion-icon>
  </button>
</ion-buttons>
<ion-searchbar [(ngModel)]="searchQuery" (click)="showModal()" [disabled]="true"
      [showCancelButton]="false" [debounce]="250" autocorrect="off"
      (ionInput)="search($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
<!--<div #map id="map"></div>-->

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker *ngFor="let item of markers" [iconUrl]="item.icon" [latitude]="item.lat" [longitude]="item.lng" (markerClick)="markerClick(item)"></agm-marker>
  <agm-polygon *ngFor="let item of polys" [editable] = "false" [paths]="item.geo" [fillColor]="red" (polyClick)="polyClick(item)"></agm-polygon>
</agm-map>


</ion-content>
