
<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons right>
  <button ion-button icon-only>
     <ion-icon name="information-circle"></ion-icon>
  </button>
</ion-buttons>
<ion-searchbar></ion-searchbar>

  </ion-navbar>
</ion-header>

<ion-content>
<!--<div #map id="map"></div>-->

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let item of markers" [latitude]="item.lat" [longitude]="item.lng" (markerClick)="markerClick(item)"></agm-marker>
  <agm-polygon *ngFor="let item of polys" [editable] = "false" [paths]="item.geo" [fillColor]="red" (polyClick)="polyClick(item)"></agm-polygon>
</agm-map>


</ion-content>
